.Information {
    background: var(--var-bg-information);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Information-tasks, .Information-tasksInPr, .Information-tasksDone {
    min-height: 6rem;
    padding: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--var-bg-footer);
    text-align: center;
}