.Layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.outlet {
    background: var(--var-bg-outlet);
    width: 100%;
    min-height: 25rem;
}